.header-container {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    background: gray;
}

.right-section {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}