.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-container {
    position: relative;
    background: white;
    padding: 30px 48px;
    border-radius: 5px;
    max-height: 85vh;
    overflow: auto;
    clip-path: inset(0 round 10px);
}
.close-btn {
    position: absolute;
    top: 12px;
    right: 16px;
}
/* Modal Content Sign-Up */
.signup-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.signup-container input {
    max-width: 200px;
    padding: 5px 12px;
}